<ul>
  {% for book in loans %}
  <li>
    {{ book.title }} - {{ book.author }} {% for o in return_date %} Return Date:
    {{ o.return_date }} {% if current_date > o.return_date %}
    <span class="text-danger">Overdue</span>
    {% else %}
    <span class="text-success">On Time</span>
    {% endif %} {% empty %}
    <p>No return dates available.</p>
    {% endfor %}
  </li>
  <button
    type="button"
    class="btn btn-danger btn-sm"
    data-bs-toggle="modal"
    data-bs-target="#returnBookModal{{ loan.book.id }}"
  >
    Return Book
  </button>
  <!-- Return Book Modal -->
  <div
    class="modal fade"
    id="returnBookModal{{ book.id }}"
    tabindex="-1"
    aria-labelledby="returnBookModalLabel{{ book.id }}"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="returnBookModalLabel{{ book.id }}">
            Return Book
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure you want to return "{{ book.title }}"?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <form method="POST" action="{% url 'return_book' book.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Return Book</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</ul>

{% for book in loans %}
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{ book.cover_image.url }}"
        class="img-fluid rounded-start"
        alt="{{ book.title }}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">Author: {{ book.author }}</p>
        <p class="card-text">
          {% for o in return_date %} Return Date: {{ o.return_date }} {% if
          current_date > o.return_date %}:
          <small class="text-muted">Overdue</small>
          {% else %}
          <small class="text-muted">On Time</small>
          {% endif %}
        </p>
        {% empty %}

        <p>No return dates available.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
