{% extends "base.html" %} {% load static %}{% block title %} - About Us {% endblock %} {% block content %}



<div class="container shadow-lg p-3 bg-body rounded h-100 overflow-auto">
  <h1 class="goldenrod text-center my-5">About Us</h1>

  <p>
    Welcome to our online bookstore! We are passionate about books and dedicated
    to providing you with a wide selection of titles across various genres. Our
    mission is to connect readers with the stories they love and to foster a
    community of book enthusiasts.
  </p>

  <p>
    Whether you're looking for the latest bestsellers, classic literature, or
    hidden gems, we have something for everyone. Our team is committed to
    curating a diverse collection that caters to all tastes and preferences.
  </p>

  <p>
    Thank you for choosing us as your go-to destination for all things books.
    Happy reading!
  </p>
  <p>
    If you have any questions or feedback, please feel free to
    <a href="{% url 'contact' %}">contact us</a>.
  </p>
</div>

{% endblock %}
