{% extends "base.html" %}{% load static %} {% block content %}
<div class="container">
  <button
    class="btn btn-primary col-md-2"
    onclick="window.history.back();"
    style="margin-top: 100px"
  >
    Back to Books
  </button>
  <div class="row">
    <div class="col-md-6 text-center my-4">
      <div class="col-md-6">
        <h2 class="text-center my-4">Book Details</h2>
      </div>
      <div class="image-container">
        <img
          src="{{ book.cover_image.url }}"
          alt="{{ book.title }}"
          class="book-cover"
        />
      </div>
    </div>
    <div class="col-md-6 text-center my-4">
      <h2 class="text-center my-4">{{ book.title }}</h2>
      <p>{{ book.description }}</p>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Category:</strong> {{ book.category }}</p>
      <a href="" class="btn btn-primary">Borrow this book</a>
    </div>
  </div>
</div>

{% endblock %}
