{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container" id="books my-3">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center my-4">
      <p class="text-center my-5">Showing books for: {{ category_name }}</p>
    </div>

    <div class="row justify-content-center p-0">
      {% for book in categories %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'book_detail' book.id %}">
          <div class="card border-10 shadow-sm">
            <div class="image-container">
              <img
                src="{{ book.cover_image.url }}"
                class="book-cover"
                alt="{{ book.title }}"
              />
            </div>
            <div class="card-body min-height-400px">
              <p class="title">{{ book.title }}</p>
              <p class="category">{{ book.category }}</p>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}
      <hr />
    </div>
  </div>
</div>

{% endblock %}
