{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container my-4 shadow-lg p-3 bg-body rounded h-100 overflow-auto">
  <div class="row justify-content-center">
    <div class="col-12">
      <form
        method="post"
        action="{% url 'contact' %}"
        class="d-flex flex-column align-items-center justify-content-center"
      >
        <h1 class="goldenrod">Contact Us</h1>
        <p>If you have any questions, feel free to reach out to us!</p>
        {% csrf_token %} {% for field in form %}

        <div class="">
          <!-- Label -->
          <div class="">
            <label
              for="{{ field.id_for_label }}"
              class="form-label fw-semibold"
            >
              {{ field.label }}
            </label>
          </div>

          <!-- Input -->
          <div class="w-100">
            {{ field }} {% if field.errors %}
            <div class="text-danger mt-1">
              {% for error in field.errors %}
              <small>{{ error }}</small>
              {% endfor %}
            </div>
            {% endif %}
          </div>

          {% endfor %}

          <!-- Submit Button -->

          <div class="col-12">
            <button type="submit" class="btn btn-primary my-3 w-100">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
