{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 text-center my-4">
      <h2 class="text-center my-4">Welcome to Book Hive</h2>
      <img
        src="{% static 'images/hero.jpg' %}"
        alt="hero"
        class="img-fluid"
        style="
          width: 100%;
          height: 380px;
          object-fit: cover;
          border-radius: 10px;
        "
      />
    </div>
    <div class="col-md-6 text-center my-4">
      <h2 class="text-center my-4">Featured Books</h2>
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="3000"
      >
        <div class="carousel-inner w-100">
          {% for book in featured_books %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img
              src="{{ book.cover_image.url }}"
              class="d-block w-200"
              style="object-fit: contain; height: 370px; border-radius: 10px"
              alt="{{ book.title }}"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ book.title }}</h5>
              <p>{{ book.description|truncatewords:15 }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block books %}
<div class="container" id="books">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center my-4">
      <h2 class="text-center my-4">Books</h2>
    </div>
    <div class="row justify-content-center p-0">
      {% for book in page_obj %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <a href="{% url 'book_detail' book.id %}">
          <div class="card border-10 shadow-sm">
            <img
              src="{{ book.cover_image.url }}"
              class="card-img-top book-cover"
              alt="{{ book.title }}"
            />
            <div class="card-body min-height-400px">
              <p class="title">{{ book.title }}</p>
              <p class="category">{{ book.category }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Pagination Controls -->
<div class="container margin-buttom-20">
  <div class="row pagination justify-content-center my-4">
    {% if page_obj.has_previous %}

    <a href="?page=1#books" class="col-md-3 first">&laquo; first</a>

    <a
      href="?page={{ page_obj.previous_page_number }}#books"
      class="col-sm-12 col-md-3 previous"
      >previous</a
    >

    {% endif %}

    <div class="col-sm-12 col-md-3 current dark-background d-flex border-10">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>

    {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}#books"
      class="col-sm-12 col-md-3 previous"
      >next</a
    >
    <a
      href="?page={{ page_obj.paginator.num_pages }}#books"
      class="col-sm-12 col-md-3 first"
      >last &raquo;</a
    >
    {% endif %}
  </div>
</div>

{% endblock %}
