{% extends "base.html" %} {% load static %} {% block content %}
<!-- Hero Section -->

<div class="container" id="books">
  {% if messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %} {{ message }}<br />
    {% endfor %}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>

  {% endif %}

  <div class="row m-2">
    <form
      class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center"
      method="GET"
      action="{% url 'search' %}"
    >
      <input
        class="form-control me-2"
        type="search"
        name="search"
        placeholder="Search for books..."
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="row p-2">
    <div class="col-sm-12">
      <h2 class="goldenrod">Featured List</h2>
      <p>Discover the latest and greatest in our collection.</p>
    </div>
  </div>
  <div class="row p-0 featured-books-container g-2">
    {% for book in featured_books %}
    <div class="col-6 col-sm-6 col-md-2 p-0">
      <a href="{% url 'book_detail' book.id %}" class="text-decoration-none">
        <div class="card mx-1 book-cover border-0">
          <img
            src="{{ book.cover_image.url }}"
            class="img-fluid"
            alt="{{ book.title }}"
          />

          <div class="card-body">
            <div>
              <h3 class="my-2">{{ book.title }}</h3>
              <div class="d-flex justify-content-between p-0">
                <h4>{{ book.author }}</h4>
                <h4 class="category">{{book.category}}</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    {% endfor %}

    <hr />
    {% if query %}
    <div class="col-md-12">
      <h2 class="goldenrod">Showing results for "{{query}}"</h2>
    </div>
    {% else %}
    <div class="col-md-12">
      <h2 class="goldenrod">All Books</h2>
      <p>Explore our entire collection.</p>
    </div>
    {% endif %}
    <div class="row g-2 books-container">
      {% for book in page_obj %}
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 collections-container">
        <a href="{% url 'book_detail' book.id %}" class="text-decoration-none">
          <div class="card mx-1 border-0 book-cover">
            <img
              src="{{ book.cover_image.url }}"
              class="img-fluid"
              alt="{{ book.title }}"
            />

            <div class="card-body">
              <div>
                <h3 class="my-2">{{ book.title }}</h3>
               <div class="d-flex justify-content-between p-0">
                <h4>{{ book.author }}</h4>
                <h4 class="category">{{book.category}}</h4>
              </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

<!-- Pagination Controls -->
<div class="container">
  <div class="row pagination">
    {% if page_obj.has_previous %}

    <a href="?page=1#books" class="col-sm-6 first-button">&laquo; first</a>

    <a
      href="?page={{ page_obj.previous_page_number }}#books"
      class="col-sm-6 previous-button"
      >previous</a
    >

    {% endif %} {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}#books"
      class="col-sm-6 next-button"
      >next</a
    >
    <a
      href="?page={{ page_obj.paginator.num_pages }}#books"
      class="col-sm-6 last-button"
      >last &raquo;</a
    >
    {% endif %}
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center my-4">
      <p class="text-center">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
