{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="row">
    <h1 class="col-6 text-center my-4">Welcome to Book Hive</h1>
    <h2 class="col-6 text-center my-4">
      Featured Books
      <span class="badge bg-secondary">New</span>
    </h2>
    <div class="col-md-6 text-center my-4">
      <img
        src="{% static 'images/hero.jpg' %}"
        alt="hero"
        class="img-fluid"
        style="
          width: 100%;
          height: 380px;
          object-fit: cover;
          border-radius: 10px;
        "
      />
    </div>
    <div class="col-md-6 text-center my-4">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="{% static 'images/book2.png' %}"
              class="d-block w-100"
              alt="book1"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/book2.png' %}"
              class="d-block w-100"
              alt="book2"
            />
          </div>
          <div class="carousel-item">
            <img
              src="{% static 'images/book4.png' %}"
              class="d-block w-100"
              alt="book4"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block sidebar %}
<div class="w25" id="sidebar">
  <h2>Categories</h2>
  <ul class="">
    <li class="">Fiction</li>
    <li class="">Non-Fiction</li>
    <li class="">Science</li>
    <li class="">History</li>
    <li class="">Biography</li>
    <li class="">Fantasy</li>
    <li class="">Mystery</li>
    <li class="">Romance</li>
  </ul>
</div>
{% endblock %}
