{% extends 'base.html'%} {% load static%} {% block content%}

<div class="container shadow p-3 mb-5 bg-body rounded">
  <div class="profile-info">
    <h2>Profile Information</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    {% if user.first_name %}
    <p><strong>First Name:</strong> {{ user.first_name }}</p>
    {% else %}
    <p><strong>First Name:</strong> Not provided</p>
    {% endif %} {% if user.last_name %}
    <p><strong>Last Name:</strong> {{ user.last_name }}</p>

    {% else %}
    <p><strong>Last Name:</strong> Not provided</p>
    {% endif %}
  </div>

  <div class="borrowed-books">
    <h2>Borrowed Books</h2>
    {% if loans %}
    <ul>
      {% for book in loans %}
      <li>{{ book.title }} - {{ book.author }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No books borrowed yet.</p>
    {% endif %}
  </div>

  {% endblock%}
</div>
