{% extends 'base.html'%} {% load static%} {% block content%}

<div class="container shadow p-3 bg-body rounded h-100 overflow-auto">
  {% if messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% for message in messages %} {{ message }}<br />
    {% endfor %}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
  <div class="profile-info">
    <h2 class="goldenrod">Profile Information</h2>

    <div class="row my-4">
      <div class="col-6 col-md-4">User Name:</div>
      <div class="col-6">{{borrower}}</div>
    </div>
    <div class="row my-4">
      <div class="col-6 col-md-4">Email:</div>
      {% if user.email %}
      <div class="col-6">{{ user.email }}</div>
      {% else %}
      <div class="col-6">Not provided</div>
      {% endif %}
    </div>
    <div class="row my-4">
      <div class="col-6 col-md-4">First Name:</div>

      {% if user.first_name %}
      <div class="col-6">{{ user.first_name }}</div>
      {% else %}
      <div class="col-6">Not provided</div>
      {% endif %}
    </div>
    <div class="row my-4">
      <div class="col-6 col-md-4">Last Name:</div>
      {% if user.last_name %}
      <div class="col-6">{{ user.last_name }}</div>
      {% else %}
      <div class="col-6">Not provided</div>
      {% endif %}
    </div>

    <div class="borrowed-books over-flow">
      <h2 class="goldenrod">Borrowed Books</h2>
      {% if loan %}
      <p>You have borrowed {{ loan|length }} book(s).</p>
      {% for book in loan %}
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ book.book.cover_image.url }}"
              class="img-fluid rounded-start"
              alt="{{ loan.book.title }}"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ book.book.title }}</h5>
              <p class="card-text">Author: {{ book.book.author }}</p>
              <p class="card-text">
                <span>Return Date:</span>
                <span class="text-success">{{ book.return_date }}</span>
                {% if book.return_date < current_date %}
              </p>

              <p class="card-text">
                <small class="text-muted">Over Due</small>
              </p>
              {% else %}
              <p class="card-text"><small class="text-muted">On Time</small></p>
              {% endif %}
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#returnBookModal{{ book.book.id }}"
        >
          Return Book
        </button>

        <!-- return book modal -->
        <div
          class="modal fade"
          id="returnBookModal{{ book.book.id }}"
          tabindex="-1"
          aria-labelledby="returnBookModalLabel{{ book.book.id }}"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  class="modal-title"
                  id="returnBookModalLabel{{ book.book.id }}"
                >
                  Return Book
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                Are you sure you want to return "{{ book.book.title }}"?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <form
                  method="POST"
                  action="{% url 'return_book' book.book.id %}"
                >
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">
                    Return Book
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %} {% else %}
      <p>No books borrowed yet.</p>
      {% endif %}
    </div>
  </div>
  {% endblock%}
</div>
