{% extends 'base.html'%} {% load static%} {% block content%}

<div class="container shadow p-3 mb-5 bg-body rounded">
  <div class="profile-info">
    <h2>Profile Information</h2>
    <div class="container">
      <div class="row my-4">
        <div class="col-2">User Name:</div>
        <div class="col-4">{{borrower}}</div>
      </div>
      <div class="row my-4">
        <div class="col-2">Email:</div>
       {% if user.email %}
        <div class="col-4">{{ user.email }}</div>
        {% else %}
        <div class="col-4">Not provided</div>
        {% endif %}
      </div>
      <div class="row my-4">
        <div class="col-2">
          First Name:

        </div>
        {% if user.first_name %}
        <div class="col-4">{{ user.first_name }}</div>
        {% else %}
        <div class="col-4">
          Not provided

        </div>
        {% endif %}

      </div>
      <div class="row my-4">
        <div class="col-2">Last Name:</div>
        {% if user.last_name %}
        <div class="col-4">{{ user.last_name }}</div>
        {% else %}
        <div class="col-4">Not provided</div>
        {% endif %}
    </div>

   
  </div>

  <div class="borrowed-books">
    <h2>Borrowed Books</h2>
    {% if loans %}
    <ul>
      {% for book in loans %}
      <li>
        {{ book.title }} - {{ book.author }} {% for o in return_date %} Return
        Date: {{ o.return_date }} {% if current_date > o.return_date %}
        <span class="text-danger">Overdue</span>
        {% else %}
        <span class="text-success">On Time</span>
        {% endif %} {% empty %}
        <p>No return dates available.</p>
        {% endfor %}
      </li>
      <button
        type="button"
        class="btn btn-danger btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#returnBookModal{{ book.id }}"
      >
        Return Book
      </button>
      <!-- Return Book Modal -->
      <div
        class="modal fade"
        id="returnBookModal{{ book.id }}"
        tabindex="-1"
        aria-labelledby="returnBookModalLabel{{ book.id }}"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="returnBookModalLabel{{ book.id }}">
                Return Book
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you sure you want to return "{{ book.title }}"?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <form method="POST" action="{% url 'return_book' book.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                  Return Book
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </ul>
    {% else %}
    <p>No books borrowed yet.</p>
    {% endif %}
  </div>

  {% endblock%}
</div>
