{% extends 'base.html'%} {% load static %} {% block content %}

<div class="container shadow-lg p-3 mb-5 bg-body rounded bg-dark">
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h2 class="text-center mb-4">User Registration</h2>

      <form method="POST" action="{% url 'user_registration' %}">
        {% csrf_token %} {% for field in form %}
        <div class="row mb-3 g-2 align-items-start">
          <label
            for="{{ field.id_for_label }}"
            class="col-sm-4 col-form-label text-sm-end"
          >
            {{ field.label }}
          </label>
          <div class="col-sm-8">
            {{ field }} {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
            {% endif %} {% if field.errors %}
            <div class="text-danger small">
              {% for error in field.errors %} {{error}} {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}

        <div class="row">
          <div class="offset-sm-4 col-sm-8">
            <button type="submit" class="btn btn-primary w-100">
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <p class="text-center mt-3">
      Already have an account? <a href="{% url 'account_login' %}">Sign In</a>
    </p>
  </div>
</div>

{% endblock %}
